@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

}

html {
  margin: 0 auto;
}

body {
  max-width: 768px;
  background-color: #102759;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

button {
  cursor: pointer;
}

span,
a,
button,
input,
i,
img {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

html,
body {
  height: -webkit-fill-available;
}

body {
  display: flex;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F2658;
  box-shadow: 0px 0px 16px 0px #009DE20A;

}

main {
  flex: 3;
}

footer {
  background-image: url('/src/assets/btm_bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  flex: 1;
  background-position: bottom;
  display: flex;
  padding: 20px 0;
}

footer .social {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

footer p {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.card-item {
  position: relative;
}

.card-item h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.title {
  font-size: 25px;
  margin: 10px 0;
}

.title,
.card-item h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;

}

footer p {
  font-family: 'Inter', sans-serif;
}

.about ol {

  list-style-type: decimal;
}

.about ol li {
  list-style: decimal !important;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-item {
  cursor: pointer;
  flex-grow: 1;
}

.cat-cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.imgs img {
  width: 100%;
}

.status {
  padding: 7px 12px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  right: 10px;
  top: 10px;
  position: absolute;
  background-color: #17367A;
  border-radius: 7px;
}

.cat-item {
  position: relative;
  padding: 7px;
  border-radius: 7px;
  background-color: #17367A;
  padding-bottom: 15px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
  font-family: 'Poppins', sans-serif;
}

.top h4 {
  font-weight: 400;
  font-size: 18px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 15px 0;
}

.cat-item button,
.modal-content form button {
  width: 100%;
  background-color: #009DE2;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 10px 10px;
  font-size: 18px;
}

.modal-content form button {
  margin-top: 10px;
}

.middle input {
  width: 40%;

}

.modal-content {
  position: relative;
}

.quit {
  position: absolute;
  right: 1px;
  top: -20px;
  font-size: 27px;
  cursor: pointer;
}

.feedback-main .inner,
.feedback-main .feedbacks {
  padding: 0;
  background-color: transparent !important;
}

.feed-item {
  background-color: #17367A;
  padding: 7px;
  border-radius: 7px;
}

header {
  display: flex;
  align-items: center;
}

header .back {
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 35px;
  color: white;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

header {
  position: relative;
}

.modal-main {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1002;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: #102759;
  max-width: 80%;
  width: 100%;
  border-radius: 7px;
  padding: 25px 20px;


}

.modal-content {
  display: flex;
  flex-direction: column;

}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}

.modal-content h3 {
  text-align: center;
  font-weight: 400;
}

.modal-content h3,
.modal-content input {
  font-family: 'Montserrat', sans-serif;
}

.modal-content input {
  padding: 10px 10px;
  background-color: #17367A;
  border-radius: 7px;
  border: none;
  color: white;
}

.modal-content input::placeholder {
  color: white;
}




.about-title {
  color: white;
  margin: 10px 0;
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.li-title {
  font-weight: 600;
}

.about ol li p {
  font-weight: 400;
}

.about .inner>div>p {
  text-align: justify;
  font-size: 16px;
  line-height: 23px;
}

.about ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about ol li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: decimal !important;
}

.about .inner {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.inner>div {
  padding: 7px 10px;
  background-color: #0e3079;
  border-radius: 15px;
  box-shadow: 0px 0px 16px 0px #009DE20A;

}

.inner:first-child {
  margin-top: 25px;
}

.about ol img {
  max-height: 400px;
  height: 100%;
}



.feedbacks {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feed-item {
  width: 100%;
}

.inner>div.feed {
  background-color: transparent !important;
  font-size: 24px;
  text-align: center;
}



.feed-user {
  display: flex;
  align-items: center;
  gap: 7px;
  margin: 10px 0;
}

.feed-user>img {
  border-radius: 50%;
}

.feed-item>p {
  color: #dfdede;
  line-height: 25px;
  font-weight: 400;
}

@media screen and (min-width:729px) {
  .feed-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .feed-item>img {
    height: fit-content;
  }
}



.drop-dawn {
  padding: 15px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.angle {
  transition: all 0.3s;
}

.angle.rotated {
  transform: rotate(180deg);
}

.drop-item {
  display: none;

}

.drop-item.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 110%;
  background-color: #0e3079;
  width: 100%;
  left: 0;
  border-radius: 7px;
  padding: 10px;
  z-index: 1001;
}

.submt {
  width: 100%;
  background-color: #009de2;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 13px;
  font-size: 18px;
}

.selected {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.selected img {
  max-width: 35px;
}

.item-item {
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: 'Public Sans', sans-serif;
  gap: 7px;
  background-color: #21499f;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}

.item-item img {
  max-width: 25px;
  width: 100%;
}


.choosen {
  display: flex;
  gap: 10px;
  background: none !important;
  flex-direction: column;
}

.choosen>div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.choosen .title {
  font-size: 22px;
  width: 100%;
}

.choosen button {
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}


.choosen .choose::after {
  position: absolute;
  content: "";
  width: 103%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid rgba(226, 226, 226, 0.3);
  background-color: transparent;
}

.choosen .choose.active::after {
  position: absolute;
  content: "";
  width: 103%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
}

.addfeed .inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.textarea1 {
  width: 100%;
  height: 150px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  font-size: 18px;
  letter-spacing: 0.7px;
  font-weight: 500;
}


.about-title.pod {
  font-weight: 400;
  font-size: 22px;
}

.about p {
  text-align: justify;
}
.about ol {
  list-style: decimal !important;
}

.about ol li {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about li img {
  max-width: 200px;
  margin: 0 auto;
}

.about ol li h3 {
  font-weight: 400;
}

.about li p {
  font-size: 15px;
}


.about .inner p> img{
  border-radius: 7px;
  margin: 10px 0;
}